/* medium-zoom：可点击放大的图片指针 */
.custom-md img,
#post-cover img,
.moment-images img,
#photo-container img {
	cursor: zoom-in;
}

.medium-zoom-overlay {
	z-index: 99998;
}

.medium-zoom-image--opened {
	z-index: 99999;
	position: relative;
}
